<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BinanceApiKey" value="Ogu1DeLXECvRqY3RVmdGENyMAVYPHy??????????????1CUfUPT4" />
    <add key="BinanceApiSecret" value="aTDFL9C9rG2TRjckDCXgK0koXT6DQPTsbrx??????????????????????sT7DM0lQe2A" />    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
